#title {
  background-image: url("./img/pantry.jpg");
  position: absolute; top: 0; left: 0; height: 100%; width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size:cover;
  background-position: center;
}

.titleText {
  color: azure;
  font-size: 140px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.center-form {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 5vw;
  background-color: rgba(51,121,204);
  border-radius: 5px;
  text-align: left;
  color: white;
}

.auth-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.auth-form > * {
  width: 100%;
  margin: 3px;  
}

.auth-form > input {
  width: 85%;
  height: 20px;
  margin: 5px;
  border-radius: 5px;
  border-width: 0.5px;
  border-color: rgba(200,200,200, 0.2);
  background-color: rgba(246,246,246);

  padding-left: 20px;
}

.stats {
  color: azure;
  font-size: 30px;
  position: relative;
  right: 700px;
  bottom: 100px;
}

.header {
  color: azure;
  font-size: 70px;
position: relative;
left: 150px;
}

.numbers {
  position: relative;
left: 150px;
}

.homeImage {
  background-image: url("https://images.unsplash.com/photo-1523294587484-bae6cc870010?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2664&q=80");
  height: 1000px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 70px;
} 

.welcome {
  color: azure;
  font-size: 150px;
  padding-bottom: 100px;
  
}

.mainBody {

  display: flex;
  justify-content: center;
  align-items: center;
}

.instructions {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: left;
}